.header{
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Yes-Inner-Header.jpg);
    background-size: cover;
    &__image{
        transition: all 1s;
        &:hover {
            transform:scale(1.1);
        }
    }
    &__button{
        opacity: 1;
        color: orange;
    }
    &__navbar__link{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1.5rem;
        color:white;
        
    }
    &__navbar__link:hover{
        color:wheat;
    }
    &__direction{
        color:white;
    }

}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(55, 7, 230);
} 